/* 
<!-- Desire Revon -->
<!-- MIU: Week 4 Project -->
<!-- Term: 1206 -->
<!-- I Remember --> 
*/


.secondaryColor {
	background-image: -webkit-linear-gradient(bottom, rgb(89,96,168), rgb(89,96,168), rgb(89,96,168));
}

.imgSize {
	width: 100%;
}

.indent {
	text-indent: 40px;
}

label.error{display:block; margin:1px 0; color:#cc0000;}

#rgerrorslink{display:none;}


#logo{
background-image:url('../images/deep.png');
background-repeat:no-repeat;
}

#fieldcontain{
background-image:url('../images/deep.png');
background-repeat:no-repeat;
}


#tabContaier ul{
overflow:hidden; /*Clearing float. */
      border-right:1px solid #fff;
      height:35px;
      position:absolute; /*Takings tabs to higher layer */
z-index:100;
 }
 #tabContaier li{
      float:left;
      list-style:none;
 }
 #tabContaier li a{
      background:#ddd;
      border:1px solid #fcfcfc;
      border-right:0;
      color:#666;
      cursor:pointer;
      display:block;
      height:35px;
      line-height:35px;
      padding:0 30px;
      text-decoration:none;
      text-transform:uppercase;
 }
 #tabContaier li a:hover{
      background:#eee;
 }
 #tabContaier li a.active{
      background:#fbfbfb;
      border:1px solid #fff;
      border-right:0;
      color:#333;
 }
 
 .tabDetails{
      background:#fbfbfb;
      border:1px solid #fff;
      margin:34px 0 0; /*1px less then actual tab height to fix the border gap between active tab &amp; tab detail section. */
}
 .tabContents{
      padding:20px
 }
 .tabContents h1{
      font:normal 24px/1.1em Georgia, "Times New Roman", Times, serif;
      padding:0 0 10px;
 }
 .tabContents p{
 padding:0 0 10px;
 }


/*
html {
	background:#8B7355;
}

header{
 text-align:center;
 margin-left:130px;
}

h2{
	font-family: Helvetica;
	background-color: #DDD;
	border: 1px solid #DDD;
	margin:20px;
	text-align:center;
 	margin-right:-100px;
	}

p {
	font-family: Helvetica;
	font-size: 17px;
	padding-left: 70px;
}

header{
	color:#FFFFFF;
}

legend {
	font-family: Helvetica;
	background-color: #444;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
}

ul, li {
	list-style-type: none;
	font-family: Helvetica;
	background-color: #DDD;
	border: 1px solid #DDD;
}

fieldset {
	background-color: #FFF8DC;
	border-color: #00CED1;
}

textarea:focus, input:focus { 
border: 1px solid #900; 
background-color: #00CED1; 
}

form {
	font-family: Helvetica;
	color: #333333;
	font-size: 15px;
}

#button{
 position:center;
}


a{
	font: 16px century gothic;
	color: #FFD39B;
	text-align: center;
}

a:hover{
	color:#FFFFFF;
*/